h4{
    color: red; 
}

/* Header styles */
.header {
    text-align: center;
    padding: 20px 0;
    background-color: #2c3e50;
    color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .header h1 {
    margin: 0;
    font-size: 2em;
  }
  
/* General form styles */
.login-form {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form field styles */
mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

/* Button styles */
.login-button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  text-transform: none;
  margin-top: 10px;
  background-color: #007bff;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
  color: white; 
}

/* Register link styles */
.register-link {
  text-align: center;
  margin-top: 20px;
}

.register-link a {
  color: #007bff;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}