<div class="header">
    <h1>Iniciar sesión</h1>
  </div>
  
  <form (ngSubmit)="onLogin()" #tdiForm="ngForm" class="login-form" autocomplete="off">
    <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input
        matInput
        id="email"
        name="email"
        placeholder="Enter your email"
        required
        [(ngModel)]="userInfo.email"
      />
    </mat-form-field>
  
    <mat-form-field appearance="outline">
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        id="passworduser"
        name="passworduser"
        placeholder="Enter your password"
        required
        [(ngModel)]="userInfo.passworduser"
      />
    </mat-form-field>
  
    <button mat-raised-button color="primary" class="login-button">Login</button>
  
    <div class="register-link">
      <a routerLink="/tech-market/register">Registrate</a>
    </div>
  </form>