<div class="header">
    <div>
      <button mat-raised-button color="primary" (click)="inicio()">
        inicio
      </button>
    </div>
  
    <div>
      <h5>Información del articulo</h5>
    </div>
  
    <div class="header-buttons">
      <button mat-raised-button color="primary" (click)="ordeness()">
        Ordenes
      </button>
      <button mat-raised-button color="primary" (click)="visitCart()">
        Carrito
      </button>
      <button mat-raised-button color="warn" (click)="logOut()">
        Cerrar Sesión
      </button>
    </div>
  </div>
<h2>Hola, has realizado una compra</h2>
<h2>Hola, has realizado una compra</h2>
<h2>Hola, has realizado una compra</h2>
<h2>Hola, has realizado una compra</h2>
<h2>Hola, has realizado una compra</h2>
<h2>Hola, has realizado una compra</h2>