<br><br>
<h6 class = "venta-tanque">Formulario venta tanque</h6>
<br>
<form class = "formulario-cuadro" autocomplete="off" #tdiForm="ngForm" (ngSubmit)="guardarCambios()">
    <div class="box-input">
      
      <mat-form-field>
        <mat-label>Venta vol. inicial</mat-label>
        <input
          matInput
          [(ngModel)]="venta.VtaVolumenInicial"
          id="VtaVolumenInicial"
          name="VtaVolumenInicial"
          placeholder="VtaVolumenInicial"
          maxlength="150"
          required
        />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Venta vol. final</mat-label>
        <input
          matInput
          [(ngModel)]="venta.VtaVolumenFinal"
          id="vtaVolumenFinal"
          name="vtaVolumenFinal"
          placeholder="Vol inicial"
          maxlength="150"
          required
        />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Venta entradas</mat-label>
        <input
          matInput
          [(ngModel)]="venta.VtaEntradas"
          id="vtaEntradas"
          name="vtaEntradas"
          placeholder="vtaEntradas"
          maxlength="150"
          required
        />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Venta litros</mat-label>
        <input
          matInput
          [(ngModel)]="venta.VtaLitros"
          id="vtaLitros"
          name="vtaLitros"
          placeholder="vtaLitros"
          maxlength="150"
          required
        />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Venta evidencia</mat-label>
        <input
          matInput
          [(ngModel)]="venta.VtaEvidencia"
          id="vtaEvidencia"
          name="vtaEvidencia"
          placeholder="vtaEvidencia"
          maxlength="150"
          required
        />
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Id Dispositivo</mat-label>
        <input
          matInput
          [(ngModel)]="venta.VtaDisId"
          id="VtaDisId"
          name="VtaDisId"
          placeholder="VtaDisId"
          maxlength="150"
          required
        />
      </mat-form-field>

    </div>
  
  
  </form>
<button mat-button (click)="guardarCambios()">Guardar Cambios</button>