<h3>Detalle del tipo de dispositivo</h3>
<form autocomplete="off" #tdiForm = "ngForm" (ngSubmit) = "guardar()"> 
    <mat-form-field *ngIf = "tipoDispositivo.tdiId > 0">
      <mat-label >Clave</mat-label>
      <!-- LIGAR A VARIABLE tipoDispositivo.tdiId -->
      <input matInput [(ngModel)] = "tipoDispositivo.tdiId" id = "tdId" name = "tdId" placeholder="Clave" readonly/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Descripcion</mat-label>
      <!-- LIGAR A VARIABLE tipoDispositivo.tdiId -->
      <input matInput [(ngModel)] = "tipoDispositivo.tdiNombre" id = "tdNombre" name = "tdNombre" placeholder="Descripción" 
      maxlength="150" required
      />
      <!-- Dado que es requerido, se muestra error en caso de no llenarlo. -->
      <mat-error *ngIf = "tipoDispositivo.tdiNombre == ''">Descripción es requerida</mat-error>
    </mat-form-field>
    <div class="text-center" role = "group"> 
      <!-- Se desabilita el siguiente botón si y sólo sí -->
      <button type="submit" mat-raised-button color = "primary" [disabled]="!tdiForm.form.valid">Guardar</button>
      <button mat-button mat-dialog-close type="button">Cerrar</button>
    </div>
</form>